body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:auto;
width:400px;
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
legend { padding: 5px 5px; background-color: #4F709F; color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* ----------- stylized ----------- */
#stylized{
    display:box;
    box-pack:center;
    box-align:center;
    border:1px solid black;
    border-radius: 20px;/*rounded edges*/
    -moz-border-radius: 20px;/*rounded edges*/
    -webkit-border-radius: 20px;/*rounded edges*/
    text-align: center;/*align AI deal room creator button center*/
/*background:#ebf4fb;*/
}

#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#footer {
   text-align: center; 
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
   height:20px; /* Height of the footer */
   background:#6cf;
   text-align:center;
   font-weight:900;
   font-family:inherit;
   font-size:100%;
}